$fontUse: 'Courier New', Courier, monospace;
$nightBlue: hsl(240, 56%, 12%);
$greycolor: hsl(211, 57%, 7%);

* {
    box-sizing: border-box;
    user-select: none;
};

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: $fontUse;
    background-color:slategray;
};

p {
    margin: 0 0 0 15px;
    padding: 0;
    color: white;
}
.calBody {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    width: 50vh;
    height: 66vh;
    min-height: 400px;
    min-width: 350px;
    background-color: $greycolor;
    border-radius: 20px;
};

.display {
    display: flex;
    flex-direction: column;
    height: 15vh;
    margin: 5px;
    min-height: 75px;
    border: 2.5px solid grey;
    box-shadow: inset 0 0 5px;
    margin: 0 10px 10px 10px;
    padding: 2px;
};

#expression {
    font-size: 3.75vh;
    font-weight: bold;
    overflow: auto;
    height: 60%;
    width: 100%;
    word-break: break-all;
    background-color:lightgrey;
    padding-left: 0.5vw;
    border-bottom: 1.25px solid grey;
    line-height: 1;
};
#display {
    font-size: 4.75vh;
    font-weight: bold;
    overflow: auto;
    width: 100%;
    word-break: break-all;
    height: 40%;
    background-color:lightgrey;
    padding-left: 0.5vw;
    border-top: 1.25px solid grey;
    line-height: 1;
};

@media (max-height:600px) {
    #expression {
        font-size: 20px;

    };
    #display {
        font-size: 25px;
 
    };
}
;
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    height: 48vh;
    min-height: 240px;
    min-width: 300px;
    padding: 0.5vh 0.5vw;
    background-color: $greycolor;
    gap: 0.255em;
    margin: 0 10px 10px 10px;
    color: aliceblue;
};

.button {
    min-height: calc(240px/5);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    font-weight: bold;
    background-color: $nightBlue;
    border: 1px solid black;
    border-radius: 33% 33% 33% 33% / 35% 35% 35% 35% ;
    box-shadow: 0 0 3px;
};
@media (max-height:600px) {
    .button {
        font-size: 25px;
    };
};
.pressed-btn, .button:active {
    box-shadow: inset 0 0 5px;
}
.operator {
    background-color:cadetblue;
}
#zero {
    grid-column: 1/3;
};
#equals {
    grid-column: 4;
    grid-row: 4/6;
    background-color:darkkhaki;  
};
#clear, #bkspace {
    background-color:maroon;
};
